---
import GeneratorContainer from "../components/GeneratorContainer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="A webapp to generate passwords" />
    <meta name="robots" content="all" />
    <title>Password Generator</title>

    <meta property="og:title" content="Password Generator" />
    <meta property="og:description" content="A webapp to generate passwords" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <GeneratorContainer />
  </body>
</html>

<style>
  body {
    background: linear-gradient(180deg, #14131b 0%, #08070b 100%);
    @apply font-jetbrains flex h-fit min-h-screen w-full items-center justify-center px-4;
  }
</style>
