---
import PasswordGenerator from "./PasswordGenerator.svelte";
---

<main class="flex w-full max-w-[33.75rem] flex-col gap-4 text-center font-bold sm:gap-8">
  <h1 class="text-style-gray">Password Generator</h1>
  <PasswordGenerator client:load />
</main>
